<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My home page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        
        <div th:replace="fragments/layout :: navbar"></div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card bg-light text-center">
                        <div th:if="${user.profilepic != null}" >
                            <img class="card-img-top" th:src="@{/images/{id}/content(id=${user.profilepic.id})}" alt="Profile image"/>
                        </div>
                        <div th:unless="${user.profilepic != null}" >
                            <img class="card-img-top" th:src="@{/pictures/profilepic.jpg}" alt="Profile image"/>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" th:text="${user.name}">Name</h3>
                        </div>
                    </div>
                    <h4>People who you follow</h4>
                    <ul> 
                        <li th:each="follow : ${user.followerTo}">
                            <a th:href="@{/profile/{abbr}(abbr=${follow.followed.abbr})}" th:text="${follow.followed.name}"></a>
                            <span th:text="${' since ' + #temporals.format(follow.followTime, 'dd.MM.yyyy HH:mm')}"></span>
                        </li>
                    </ul>
                    <h4>People who follow you</h4>
                    <ul>
                        <li th:each="follow : ${user.followedBy}">
                            <a th:href="@{/profile/{abbr}(abbr=${follow.follower.abbr})}" th:text="${follow.follower.name}"></a>
                            <span th:text="${' since ' + #temporals.format(follow.followTime, 'dd.MM.yyyy HH:mm')}"></span>
                            <form th:action="@{/home/reject/{id}(id=${follow.follower.id})}" method="POST">
                                <button class="btn btn-warning" type="submit">Reject</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="col-8">
                    <div>
                        <form method="POST" th:action="@{/message}">
                            <input type="text" name="content" id="content"/>
                            <input type="submit" value="Post"/>
                        </form>
                    </div>
                    <div th:replace="fragments/layout :: wall"></div>
                </div>
            </div>
        </div>

    </body>
</html>
