<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Message</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <div th:replace="fragments/layout :: navbar"></div>

        <div class="container pt-3 my-3">
            <div th:replace="fragments/layout :: displayMessage"></div>
            <div th:replace="fragments/layout :: likesM"></div>
            <br/>
            <div th:replace="fragments/layout :: sendCommentM"></div>
            <br/>
            <div th:replace="fragments/layout :: comments"></div>
        </div>
        
    </body>
</html>
